


p{
	color: black;  
}   


h1{
	text-align: center ; 
	color: #f0378a;
	font-size:30px;
}


h2{
	color:#9337f0 ;
	font-size: 20px;

}

body{background-color: #37f0e0}




